{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1>Rock Climbing Database Query</h1>
        <div class="relation-container">
            {% for relation in ['Routes', 'Region', 'Climber', 'Equipment', 'Developer'] %}
            <form action="{{ url_for('relation', table_name=relation) }}" method="GET">
                <button type="submit">{{ relation }}</button>
            </form>
            {% endfor %}
        </div>

        <form action="{{ url_for('submit_query') }}" method="POST">
            <label for="querySelect">Choose a query:</label>
            <select name="queryType" id="querySelect">
                <option value="query1">List all routes at the Red River Gorge sorted by difficulty.</option>
                <option value="query2">What was the first route established in North America?</option>
            </select>
            <button type="submit">Submit Query</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
