{% extends 'layout.html' %}

{% block body %}
    <div class="records">
        {% if type == 'Routes' %}
        {% for row in rows %}
        <div class="record card">
            <hr class="dashed">
            <p><strong>RouteName:</strong> {{ row['RouteName'] }}</p>
            <p><strong>RouteType:</strong> {{ row['RouteType'] }}</p>
            <p><strong>AVG_STARS:</strong> {{ row['AVG_STARS'] }}</p>
            <p><strong>Difficulty_Rating:</strong> {{ row['Difficulty_Rating'] }}</p>
            <p><strong>Geo Location:</strong> {{ row['Latitude'] }} : {{ row['Longitude'] }}</p>
            <p><strong>URL:</strong> <a href="{{ row['URL'] }}">MountainProject Page</a></p>
        </div>
        {% endfor %}
        {% elif type == 'Regions' %}
        {% for row in rows %}
        <div class="record card">
            <p><strong>Region:</strong> {{ row['Region'] }}</p>
            <p><strong>Country:</strong> {{ row['Country'] }}</p>
            <p><strong>Continent:</strong> {{ row['Continent'] }}</p>
        </div>
        {% endfor %}
        {% elif type == 'Climbers' %}
        {% for row in rows %}
        <div class="record card">
            <p><strong>Name:</strong> {{ row['ClimberName'] }}</p>
            <p><strong>Date of Birth:</strong> {{ row['DOB'] }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
