{% extends 'layout.html' %}

{% block body %}
    <div class="records">
        {% if type == 'Routes' %}
            {% for row in rows %}
                <div class="record">
                    <p>RouteName: {{ row['RouteName'] }}</p>
                    <p>RouteType: {{ row['RouteType'] }}</p>
                    <p>AVG_STARS: {{ row['AVG_STARS'] }}</p>
                    <p>Difficulty_Rating: {{ row['Difficulty_Rating'] }}</p>
                    <p>Longitude: {{ row['Longitude'] }}</p>
                    <p>Latitude: {{ row['Latitude'] }}</p>
                </div>
            {% endfor %}
        {% elif type == 'Regions' %}
            {% for row in rows %}
                <div class="record">
                    <p>Region: {{ row['Region'] }}</p>
                    <p>Country: {{ row['Country'] }}</p>
                    <p>Continent: {{ row['Continent'] }}</p>
                </div>
            {% endfor %}
        {% elif type == 'Climbers' %}
            {% for row in rows %}
                <div class="record">
                    <p>ClimberName: {{ row['ClimberName'] }}</p>
                    <p>DOB: {{ row['DOB'] }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
